.navbar {
    background-color: #2EC0F9;  
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
  }
  
  .nav-link {
   
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .nav-link:hover {
    background-color: #9BBDF9; 
    color: #FFFFFF;  
  }
  